<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Climate Awareness</title>
  <link rel="stylesheet" href="/css/app.css" />
  <link rel="shortcut icon" href="/images/logo.svg" type="image/x-icon" />
</head>

<body>
  <header>
    <nav>
      <img
        src="https://img.icons8.com/external-filled-outline-geotatah/50/000000/external-earth-emergency-and-disaster-management-color-filled-outline-geotatah.png" />
      <a class="active" href="/">Home</a>
      <a href="/methane">Methane</a>
      <a href="/polar">Polar</a>
      <a href="/tmp">Temperature</a>
      <a href="#">Support</a>
    </nav>
    <!--nav-bar-->

    <h1>Climate Awareness</h1>

    <div class="slider"></div>
    <!--image slider-->
  </header>

  <section class="container">
    <div class="first">
      <p>
        <span>Intro: </span>
        Climatic change has become a global concern over the last few decades.
        Besides, these climatic changes affect life on the earth in various
        ways. These climatic changes are having various impacts on the
        ecosystem and ecology. Due to these changes, a number of species of
        plants and animals have gone extinct.
      </p>
      <br />
      <p>
        <span>Reason</span>
        We started researching on climate change and came to know that the
        earth temperature is rising due to a phenomenon called the greenhouse
        effect. The warming up of earth surface causes many ozone depletion,
        affect our agriculture, water supply, transportation, and several
        other problems.
      </p>
    </div>
    <div class="second">
      <p>
        <span>When did it start: </span>
        The climate started changing a long time ago due to human activities
        but we came to know about it in the last century. During the last
        century, we started noticing the climatic change and its effect on
        human life.
      </p>
      <br /><br /><br />
      <p>
        <span>What to do: </span>
        Although humans mistake has caused great damage to the climate and
        ecosystem. But, it is not late to start again and try to undo what we
        have done until now to damage the environment. And if every human
        start contributing to the environment then we can be sure of our
        existence in the future.
      </p>
    </div>
    <div class="third">
      <p>
        <span>Natural Reasons: </span>
        These include volcanic eruption, solar radiation, tectonic plate
        movement, orbital variations. Due to these activities, the
        geographical condition of an area become quite harmful for life to
        survive. Also, these activities raise the temperature of the earth to
        a great extent causing an imbalance in nature.
      </p>
      <br />
      <p>
        <span>Human Reasons: </span>
        Man due to his need and greed has done many activities that not only
        harm the environment but himself too. Many plant and animal species go
        extinct due to human activity. Human activities that harm the climate
        include deforestation, using fossil fuel, industrial waste, a
        different type of pollution and many more.
      </p>
    </div>
  </section>

  <section class="next">
    <div class="main">
      <h2>Global temperature anomalies</h2>
      <p>
        The current global warming rate is not natural. From 1880 to 1981 was (0.07°C / 0.13°F) per decade. Since 1981
        this rate has increased to (0.18°C / 0.32°F) <a
          href="https://www.climate.gov/news-features/understanding-climate/climate-change-global-temperature">Climate
          Change: Global Temperature</a>.
      </p>
      <p>
        Some of the past sudden increase on global temperature present in this graph, correspond to the Roman Warm
        Period
        and the Medieval Warm Period. These events were at regional and not global scale.<a
          href="https://www.ipcc.ch/report/ar4/wg1/"> AR4 Climate Change 2007: The
          Physical Science Basis</a> . For more information about prehistoric temperature records please visit:
        Information from
        Paleoclimate Archives and <a href="https://earthobservatory.nasa.gov/features/GlobalWarming/page3.php">How is
          Today’s Warming Different from the Past?</a>
      </p>
      <p>
        The total average global temperature rise since the industrial revolution is around (1.0 °C / 1.8 °F). Earth
        northern hemisphere is warming faster. The arctic has warmed between (2 °C / 3.6 °F) and (4 °C / 7.2 °F). Please
        visit these scientific publications for more details: <a
          href="https://www.igsoc.org/annals/46/a46a005.pdf">Recent air-temperature changes in the Arctic</a>,<a
          href="https://web.archive.org/web/20130628144322/http:/www.acia.uaf.edu/pages/scientific.html"> ACIA
          Scientific Report</a>, <a
          href="https://www.climatecentral.org/news/in-global-warming-northern-hemisphere-is-outpacing-the-south-15850#:~:text=Berkeley%20and%20the%20University%20of,and%20oceans%20warm%20relatively%20slowly.">In
          Warming, Northern Hemisphere is Outpacing the South</a>,<a
          href="https://iopscience.iop.org/article/10.1088/1748-9326/aafc1b/pdf"> Key indicators of Arctic climate
          change: 1971–2017</a>,<a href="https://nsidc.org/cryosphere/arctic-meteorology/climate_change.html"> Climate
          Change in the Arctic</a>,<a href="https://www.nature.com/articles/s41467-019-09622-y"> Recent summer warming
          in northwestern Canada exceeds the
          Holocene
          thermal maximum</a>.
      </p>
      <p>
        Earth temperature and the proportion of gases such as Co2, methane, and nitrous oxide in the atmosphere is
        strictly correlated. For more information about this topic and prehistoric data, please visit: <a href="https://www.nature.com/articles/srep21691">On the causal
        structure between CO2 and global temperature</a> and <a href="https://environmentcounts.org/ec-perspective-accounting-for-800000-years-of-climate-change/">EC Perspective: Accounting for 800,000 years of climate change.</a>
      </p>
    </div>

    <aside>
      <h2>References: </h2>
      <ul>
        <li><a href="/views/methane.ejs">Methane levels from 800,000 years ago to present</a></li>
        <li><a href="/views/polar.ejs">Melted Polar Ice Caps</a></li>
        <li><a href="/views/tmp.ejs">Global temperature anomalies from year 1 to present</a></li>
        <!-- <li><a href=""></a></li> -->
      </ul>
    </aside>
  </section>

  <footer>
  </footer>
</body>

</html>